<h1>Welcome! </h1>
 <h3>Please enter in your child's information below, to create their Milestone Profile!</h3>
 <body>
     <form action="/milestones" method="post">
     <input type="text" name="user[kid][child_name]" placeholder="Child's Name" id="child_name">
     <input type="date" name="user[kid][birthday]" id="birthday">
     <input type="integer" name="user[kid][weight]" placeholder="weight" id="weight">
     </form>
 </body>

